<div class="chat_box">
  <div class="chat-top">
    <div class="chat_name">
      <%= message.user.name %>
    </div>
    <div class="chat_daytime">
      <%= message.created_at %>
    </div>
  </div>
  <div class="chat-bottom">
    <div class="chat_text">
      <%= message.content %>
    </div>
  </div>
</div>
