<div class="wrapper">
  <div class="side_bar">
    <%= render "side_bar" %> <%# サイドバー部分テンプレート呼び出し %>
  </div>
  <div class="main_chat">
    <%= render "main_chat" %> <%# メインチャット部分テンプレート呼び出し %>
  </div>
</div>